/* @import url('https://fonts.googleapis.com/css2?family=Inter'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 154 39% 95%;
    --foreground: 154 5% 0%;
    --card: 154 39% 90%;
    --card-foreground: 154 5% 10%;
    --popover: 154 39% 95%;
    --popover-foreground: 154 95% 0%;
    --primary: 154 60.6% 24.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 154 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 116 30% 85%;
    --muted-foreground: 154 5% 35%;
    --accent: 116 30% 80%;
    --accent-foreground: 154 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 154 5% 90%;
    --border: 154 30% 50%;
    --input: 154 30% 18%;
    --ring: 154 60.6% 24.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 154 39% 5%;
    --foreground: 154 5% 90%;
    --card: 154 39% 0%;
    --card-foreground: 154 5% 90%;
    --popover: 154 39% 5%;
    --popover-foreground: 154 5% 90%;
    --primary: 154 60.6% 24.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 154 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 116 30% 15%;
    --muted-foreground: 154 5% 60%;
    --accent: 116 30% 15%;
    --accent-foreground: 154 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 154 5% 90%;
    --border: 154 30% 18%;
    --input: 154 30% 18%;
    --ring: 154 60.6% 24.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
